<!-- Pagina Principal -->
<div>
  <div class="container h-100 mt-2 p-2 rounded" >
    <h1 class="text-center">Explore the music you love!</h1>
    
    <form class="form-inline" id="miformulario" (ngSubmit)="onSubmit()">
      <input type="text" class="form-control m-1 w-75" id="usuario" placeholder="Michael Bolton" [(ngModel)]="form.term"  name="formTerm" required>
      <select class="form-select m-1 w-25"  [(ngModel)]="form.mediaType"  name="mediaType" >
        <option selected value="all">All</option>
        <option value="musicVideo">Music Video</option>
        <option value="podcast">Podcast</option>
        <option value="movie">Movie</option>
      </select>
      <button type="submit" class="btn btn-primary m-1">Search</button>
   </form>



      <div class="row rounded" *ngIf="isOpen">

        <app-search-card class="col-md-4  " *ngFor="let item of items" [itemInput] = "item">
        </app-search-card>

      </div>


  </div>
</div>